In [1]:
import pandas as pd
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv('train_preprocessed.csv')
test_df = pd.read_csv('test_preprocessed.csv')
test_df

     PassengerId  Pclass  Sex   Age      Fare  Embarked
0            892       3    0  34.5    7.8292         2
1            893       3    1  47.0    7.0000         0
2            894       2    0  62.0    9.6875         2
3            895       3    0  27.0    8.6625         0
4            896       3    1  22.0   12.2875         0
..           ...     ...  ...   ...       ...       ...
413         1305       3    0  29.0    8.0500         0
414         1306       1    1  39.0  108.9000         1
415         1307       3    0  38.5    7.2500         0
416         1308       3    0  29.0    8.0500         0
417         1309       3    0  29.0   22.3583         1

[418 rows x 6 columns]

##In Above code, Using read_csv() to read the given files.

In [3]:
train_df

     Survived  Pclass  Sex   Age     Fare  Embarked
0           0       3    0  22.0   7.2500         0
1           1       1    1  38.0  71.2833         1
2           1       3    1  26.0   7.9250         0
3           1       1    1  35.0  53.1000         0
4           0       3    0  35.0   8.0500         0
..        ...     ...  ...   ...      ...       ...
886         0       2    0  27.0  13.0000         0
887         1       1    1  19.0  30.0000         0
888         0       3    1  29.0  23.4500         0
889         1       1    0  26.0  30.0000         1
890         0       3    0  32.0   7.7500         2

[891 rows x 6 columns]

In [4]:
print(train_df.isnull().sum())
print('-'*10)
print(test_df.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64
----------
PassengerId    0
Pclass         0
Sex            0
Age            0
Fare           0
Embarked       0
dtype: int64

##In Above code, Using null function to count the null values and then using sum to count the null values.

In [5]:
X_train = train_df.drop("Survived",axis=1)
Y_train = train_df["Survived"]

X1_train, X1_test, y1_train, y1_test = train_test_split(X_train, Y_train, test_size=0.2, random_state=0)

##In Above code,
Using drop function to remove the "Survived" column.
Using train_test_split() to set up testing and training sets.

In [6]:
##KNN
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_train)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
print("KNN accuracy is:",acc_knn)

KNN accuracy is: 83.5

c:\users\eduku\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\users\eduku\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

##In Above code,predict() to predict with the test function.

## Question 3.

In [7]:
## Naives bayes
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
gnb = GaussianNB()
y_pred_gnb = gnb.fit(X1_train, y1_train).predict(X1_test)
print(metrics.classification_report(y1_test,y_pred_gnb))
print(metrics.confusion_matrix(y1_test,y_pred_gnb))

              precision    recall  f1-score   support

           0       0.85      0.80      0.82       110
           1       0.71      0.77      0.74        69

    accuracy                           0.79       179
   macro avg       0.78      0.78      0.78       179
weighted avg       0.79      0.79      0.79       179

[[88 22]
 [16 53]]

##In Above code,Using classification_report() to get the report and to get the matrix we are using confusion_matrix()
here the accuracy is 0.79

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(y1_test, y_pred_gnb)

0.7877094972067039